/* home intro section */
.intro-container{
  max-width: 650px;
  margin: 0 auto;
  position: relative;
  margin-top: 200px;
}

.intro-container::after {
  content: url(../imgs/illustrations-svg/Pizza-story.svg);
  position: absolute;
  top: -15%;
  right: 0;
  width: 250px;
  opacity: .5;

}

.intro-rand{
  position: absolute;
  z-index: -1;
  max-width: 120%;
  left: -15%;
  top: -50%;
}

.text-wrap {
  max-width: 400px;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  max-width: 800px;
}


/* bestseller section home */
.detail-container{
  background-color: var(--color-bg);
  max-width: 100%;
  
  padding: 100px 15px 30px 15px;
  margin-top: -80px;
  border-radius: 10px;
  margin-left: 20px;
}


@media (min-width:992px){
  .detail-container{
    height: 350px;
    position: relative;
    z-index: -1;

  }

  .wrap-card {
    position: absolute;
    bottom: 30px;
  }

}

@media (max-width:990px){
  .main-card{
    margin-top: 50px;
  }

  .detail-container{
    min-height: none;
  }
}

@media (max-width:700px) {
  .intro-rand{
   top: -30%;
  }
}

@media (max-width:600px) {
  .intro-rand{
   display: none;
  }

  .intro-container{
    margin-top: 100px;
  }
}