ErrorDocument 400 /bacio-website/error.php?code=400
ErrorDocument 401 /bacio-website/error.php?code=401
ErrorDocument 404 /bacio-website/error.php?code=404
ErrorDocument 405 /bacio-website/error.php?code=405
ErrorDocument 408 /bacio-website/error.php?code=408
ErrorDocument 502 /bacio-website/error.php?code=502
ErrorDocument 504 /bacio-website/error.php?code=504